:root { 
--black_900_7f:#0000007f; 
--black_900:#000000; 
--red_700:#da1e28; 
--black_900_8c:#0000008c; 
--gray_900:#21272a; 
--indigo_900:#001d6c; 
--blue_gray_900:#1f394a; 
--white_A700:#ffffff; 
--indigo_500:#2e64b0; 
--lime_A400:#d2e900; 
--blue_50:#e9f4fb; 
--gray_100:#f2f4f8; 
}